<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!--Создание бина для класса Fibo.-->
    <bean id="fibo" class="com.bsuir.stankevich.fibo.Fibo"/>

    <!--Создание бина для класса FiboService.-->
    <bean id="fiboService" class="com.bsuir.stankevich.service.FiboService">
        <constructor-arg type="int" value="20" />
        <constructor-arg type="int" value="6" />
        <constructor-arg type="char" value="," />
        <property name="fibo" ref="fibo"/>
    </bean>

</beans>
